/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1240,20,1.25,9,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */

:root {
  --step--3: clamp(0.615rem, 0.6063rem + 0.0435vw, 0.64rem);
  --step--2: clamp(0.7381rem, 0.7166rem + 0.1076vw, 0.8rem);
  --step--1: clamp(0.8856rem, 0.8458rem + 0.1989vw, 1rem);
  --step-0: clamp(1.0625rem, 0.9973rem + 0.3261vw, 1.25rem);
  --step-1: clamp(1.275rem, 1.175rem + 0.5vw, 1.5625rem);
  --step-2: clamp(1.53rem, 1.3828rem + 0.7359vw, 1.9531rem);
  --step-3: clamp(1.8363rem, 1.6258rem + 1.0522vw, 2.4413rem);
  --step-4: clamp(2.2031rem, 1.9079rem + 1.4761vw, 3.0519rem);
  --step-5: clamp(2.6438rem, 2.2364rem + 2.037vw, 3.815rem);
  --step-6: clamp(3.1725rem, 2.6175rem + 2.775vw, 4.7681rem);
  --step-7: clamp(3.8069rem, 3.0577rem + 3.7457vw, 5.9606rem);
  --step-8: clamp(4.5688rem, 3.5664rem + 5.012vw, 7.4506rem);
  --step-9: clamp(5.4825rem, 4.1501rem + 6.662vw, 9.3131rem);
}
