@use "../design-tokens/breakpoints";

.grid {
  display: grid;
  gap: var(--s-500);
  @include breakpoints.md {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, minmax(16px, 1fr));
  }

  .order-1 {
    order: 1;
  }

  .order--1 {
    order: -1;
  }

  .align-self-center {
    align-self: center;
  }

  .justify-self-center {
    justify-self: center;
  }
}
